[ghq]
  root = ~/src

[core]
  excludesfile = ~/.gitignore_global
	autocrlf = input

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[user]
  name = Ryo Takaishi
  email = ryo.takaishi.0@gmail.com
  signingkey = 96B49DDB6600AB23

[alias]
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  a = add
  cl = clone
  cm = commit
  co = checkout
  cob = checkout -b
  d = diff
  gpush = push origin HEAD
  p = push
  st = status
  sw = switch
  re = restore
  vacuum = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main'|xargs git branch -d; git fetch --prune; };f"


[fetch]
  prune = true

[include]
  path = ~/.gitconfig.local
[init]
  defaultBranch = main
[commit]
  gpgsign = true
#[gpg]
# program = /opt/homebrew/bin/gpg
